
@use '../../../components/Kit/Style/kits.module.scss' as Kit;

.teacherRegisterContainer {
    position: relative;
    width: 100%;
    // padding-top: 90px;
}

.teacherRegisterHeader {
    display: flex;
    z-index: 100;
    width: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    padding: 30px 35px;
    border-bottom: 1px solid #cdccd7;
    @media (max-width: Kit.$xl) {
        padding: 25px 30px;
    }
    @media (max-width: Kit.$sm) {
        padding: 20px 24px;
    }
    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > img {
            width: 28px;
            height: 28px;
            cursor: pointer;
            @media (max-width: Kit.$xl) {
                width: 20px;
                height: 20px;
            }
            @media (max-width: Kit.$sm) {
                width: 24px;
                height: 24px;
            }
        }
        & > span {
            font-size: 14px;
            color: #0c0b31;
            margin-right: 5px;
            @media (max-width: Kit.$xl) {
                font-size: 12px;
                margin-right: 10px;
            }
            @media (max-width: Kit.$sm) {
                font-size: 13px;
            }
        }
    }
    & > .handleStateModalContainerBtn {
        & > div {
            width: 78px;
            & > button {
                font-family: Kit.$regularFont;
            }
            & > .deleteBorder {
                border: none;
            }
        }
    }
}

.teacherRegisterDividerContainer {
    width: 100%;
}

.teacherRegisterChildrenContainer {
    width: 100%;
}

.basicDetailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 40px 35px 0px;
    @media (max-width: Kit.$xl) {
        padding: 35px 30px 0px;
    }
    @media (max-width: Kit.$sm) {
        padding: 40px 24px;
    }
    .profileContainerForEdit {
        width: 80px;
        height: 80px;
        position: relative;
        cursor: pointer;
        @media (max-width: Kit.$xl) {
            width: 67px;
            height: 67px;
        }
        @media (max-width: Kit.$sm) {
            width: 80px;
            height: 80px;
        }
        & > .deleteProfileView {
            width: 80px;
            height: 80px;
            opacity: 0.5;
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #191a25;
            @media (max-width: Kit.$xl) {
                width: 67px;
                height: 67px;
            }
            @media (max-width: Kit.$sm) {
                width: 80px;
                height: 80px;
            }
            & > img {
                width: 24px;
                height: 24px;
                @media (max-width: Kit.$xl) {
                    width: 20px;
                    height: 20px;
                }
                @media (max-width: Kit.$sm) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        & > img {
            width: 80px;
            height: 80px;
            object-fit: fill;
            border-radius: 50%;
            @media (max-width: Kit.$xl) {
                width: 67px;
                height: 67px;
            }
            @media (max-width: Kit.$sm) {
                width: 80px;
                height: 80px;
            }
        }
        & > label > div {
            width: 24px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            background-color: #f5f5f7;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            z-index: 1000;
            cursor: pointer;
            @media (max-width: Kit.$xl) {
                width: 20px;
                height: 20px;
            }
            & > img {
                width: 100%;
            }
        }
        & > input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        & > .openEdit {
            display: none;
            @media (max-width: Kit.$sm) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 140px;
                height: 96px;
                padding: 20px 20px 20px 0px;
                box-shadow: 0 3px 10px 0 rgba(25, 26, 50, 0.07);
                background-color: #fff;
                & > p {
                    font-size: 13px;
                    color: #0c0b31;
                    margin: 0px;
                }
                & > label > p {
                    font-size: 13px;
                    color: #0c0b31;
                    margin: 0px;
                }
                & > p:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
    & > input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    & > label > div {
        width: 80px;
        cursor: pointer;
        height: 80px;
        border-radius: 50%;
        background-color: #f5f5f7;
        border: 1px solid rgba(12, 11, 49, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
        & > img {
            width: 30px;
            height: 30px;
        }
        @media (max-width: Kit.$xl) {
            width: 67px;
            height: 67px;
            & > img {
                width: 25px;
                height: 25px;
            }
        }
        @media (max-width: Kit.$sm) {
            width: 80px;
            height: 80px;
            & > img {
                width: 30px;
                height: 30px;
            }
        }
    }
    & > span {
        margin-top: 20px;
        font-size: 13px;
        color: #0c0b31;
        @media (max-width: Kit.$xl) {
            font-size: 12px;
            margin-top: 15px;
        }
        @media (max-width: Kit.$sm) {
            font-size: 13px;
        }
    }
    & > .gridFormContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        row-gap: 20px;
    }
}

.shebaInput {
    width: calc(100% - 50px)!important;
    direction: ltr;
}

.specializedDesktopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    & > p {
        font-size: 13px;
        line-height: 35px;
        color: #0c0b31;
        margin: 10px 0px 30px;
        padding: 0px 35px;
        width: 100%;
        @media (max-width: Kit.$xl) {
            font-size: 12px;
            margin-bottom: 20px;
        }
        @media (max-width: Kit.$sm) {
            font-size: 13px;
            margin: 24px 0px;
            padding: 0px 24px;
        }
    }
    & > .hintForMaxFields {
        margin-top: 40px;
        @media (max-width: Kit.$xl) {
            margin-top: 30px;
        }
        @media (max-width: Kit.$sm) {
            margin-top: 24px;
        }
    }
    & > .alertForMaxFields {
        background-color: #ffe5e6;
        color: #ff6575;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 6px 35px 6px;
        width: 100%;
        & > img {
            width: 15px;
        }
        & > p {
            margin: 0px 9px 0px 0px;
            font-size: 13px;
            font-family: Kit.$regularFont;
        }
    }
    & > .searchContainer {
        width: 100%;
        padding: 0px 35px;
        & > div > .searchInputClassName {
            border: none;
            width: 100%;
            margin-right: 12px;
        }
    }
    & > .actionsContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 35px;
        & > div:first-child {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: #f5f5f7;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & > img {
                width: 24px;
                height: 24px;
            }
            @media (max-width: Kit.$xl) {
                width: 33px;
                height: 33px;
                & > img {
                    width: 19px;
                    height: 19px;
                }
            }
            @media (max-width: Kit.$sm) {
                width: 40px;
                height: 40px;
                & > img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        & > div:last-child {
            padding: 11px 15px 11px 20px;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid #cdccd7;
            cursor: pointer;
            height: 40px;
            & > span {
                font-size: 13px;
                margin-right: 11px;
                max-width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            @media (max-width: Kit.$xl) {
                padding: 5px 15px 5px 20px;
                height: 33px;
                & > span {
                    font-size: 12px;
                    max-width: 72px;
                    line-height: 30px;
                }
            }
            @media (max-width: Kit.$sm) {
                padding: 11px 15px 11px 20px;
                height: 40px;
                & > span {
                    font-size: 13px;
                    max-width: 80px;
                }
            }
        }
    }
    &  > div {
        width: 100%;
    }
    & > .itemsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        width: 100%;
        margin-top: 30px;
        padding: 0px 35px 0px 0px;
        & > div {
            width: 100%;
        }
        & > div > div > .NoData {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 70px;
            & > img {
                width: 45px;
                height: 45px;
                @media (max-width: Kit.$xl) {
                    width: 40px;
                    height: 40px;
                }
            }
            & > p {
                font-size: 13px;
                margin: 40px 0px 0px;
                color: #0c0b31;
                @media (max-width: Kit.$xl) {
                    font-size: 12px;
                }
                @media (max-width: Kit.$sm) {
                    font-size: 13px;
                }
            }
        }
        & > div > div > .categoriesItem {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin-bottom: 20px;
            & > div {
                margin-right: 15px;
                padding-bottom: 17px;
                border-bottom: 1px solid #ebebef;
                width: 100%;
                & > p:first-child {
                    margin: 0px 0px 8px;
                    font-size: 13px;
                    color: #0c0b31;
                }
                & > p:last-child {
                    margin: 0px;
                    font-size: 13px;
                    color: rgba(12, 11, 49, 0.5);
                }
            }
            @media (max-width: Kit.$xl) {
                margin-bottom: 12.5px;
                & > div {
                    padding-bottom: 12.5px;
                    & > p:first-child {
                        font-size: 12px;
                    }
                    & > p:last-child {
                        font-size: 12px;
                    }
                }
            }
            @media (max-width: Kit.$sm) {
                margin-bottom: 14.5px;
                & > div {
                    padding-bottom: 14.5px;
                    & > p:first-child {
                        font-size: 13px;
                    }
                    & > p:last-child {
                        font-size: 13px;
                    }
                }
            }
        }
        @media (max-width: Kit.$xl) {
            margin-top: 20px;
            padding-right: 30px;
        }
        @media (max-width: Kit.$sm) {
            padding-right: 24px;
        }
    }
}
.furtherInfoContainer {
    padding: 30px 35px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    overflow-y: scroll;
    & > .privateTeachingContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            & > img {
                width: 24px;
                height: 24px;
            }
            & > span {
                margin-right: 10px;
                font-size: 13px;
                color: rgba(12, 11, 49, 0.8);
            }
            @media (max-width: Kit.$xl) {
                & > img {
                    width: 20px;
                    height: 20px;
                }
                & > span {
                    font-size: 12px;
                }
            }
        }
    }
}

.selectCityBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 9px;
    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > img {
            width: 24px;
            height: 24px;
        }
        & > span {
            font-size: 13px;
            color: rgba(12, 11, 49, 0.5);
            font-family: Kit.$regularFont;
            margin-right: 10px;
        }
        & > .isActiveCity {
            color: #0c0b31;
        }
    }
}

.selectCityContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .searchInputPadding {
        padding: 0px 35px;
        margin-bottom: 30px;
        width: 100%;
        @media (max-width: Kit.$xl) {
            padding: 0px 30px;
        }
        @media (max-width: Kit.$sm) {
            padding: 0px 24px;
            margin-bottom: 24px;
        }
    }
    & > .selectCityHeader {
        width: 100%;
        padding: 33px 27px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(12, 11, 49, 0.16);
        margin-bottom: 30px;
        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        & > div > img {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
        & > div > span {
            font-size: 14px;
            color: #0c0b31;
            margin-right: 13px;
        }
        & > button {
            width: 78px;
            font-family: Kit.$regularFont;
        }
        @media (max-width: Kit.$xl) {
            padding: 30px 30px 25px;
            margin-bottom: 25px;
            & > div > img  {
                width: 20px;
                height: 20px;
            }
            & > div > span {
                font-size: 12px;
            }
        }
        @media (max-width: Kit.$sm) {
            padding: 24px 24px 24px;
            margin-bottom: 24px;
            & > div > img  {
                width: 24px;
                height: 24px;
            }
            & > div > span {
                font-size: 13px;
            }
        }
    }
    & > .selectCityBody {
        width: 100%;
        & > p {
            width: 100%;
            margin: 0px 35px 18.5px 0px;
            padding: 0px 0px 20.5px 0px;
            border-bottom: 1px solid #ebebef;
            color: rgba(12, 11, 49, 0.8);
            font-size: 13px;
            font-family: Kit.$regularFont;
            cursor: pointer;
            @media (max-width: Kit.$xl) {
                font-size: 12px;
                padding-bottom: 14.5px;
                margin: 0px 30px 14.5px 0px;
            }
            @media (max-width: Kit.$sm) {
                font-size: 13px;
                padding-bottom: 17px;
                margin: 0px 24px 17px 0px;
            }
        }
        & > .selectCityItemsContainer {
            width: 100%;
            margin: 0px 35px 18.5px 0px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            @media (max-width: Kit.$xl) {
                margin: 0px 30px 14.5px 0px;
            }
            @media (max-width: Kit.$sm) {
                margin: 0px 24px 17px 0px;
            }
            & > p {
                padding: 0px 0px 20.5px 0px;
                border-bottom: 1px solid #ebebef;
                margin: 0px 11px 0px 0px;
                color: rgba(12, 11, 49, 0.8);
                font-size: 13px;
                font-family: Kit.$regularFont;
                width: 100%;
                line-height: 20px;
                @media (max-width: Kit.$xl) {
                    font-size: 12px;
                    padding-bottom: 14.5px;
                }
                @media (max-width: Kit.$sm) {
                    font-size: 13px;
                    padding-bottom: 17px;
                }
            }
        }
    }
}

.videosAndImagesDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    overflow-y: scroll;
    @media (max-width: Kit.$xl) {
        padding: 30px;
    }
    @media (max-width: Kit.$sm) {
        padding: 24px;
    }
    & > p {
        font-size: 13px;
        font-family: Kit.$regularFont;
        margin: 0px;
        @media (max-width: Kit.$xl) {
            font-size: 12px;
        }
        @media (max-width: Kit.$sm) {
            font-size: 13px;
        }
    }
    & > .uploadVideoContainer {
        margin-bottom: 30px;
        margin-top: 12px;
        & > .uploadedVideoContainer {
            width: 100%;
            height: 222px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            & > div {
                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgba(25, 26, 37, 0.7);
                border-radius: 24px;
                padding: 5px 12px;
                & > p {
                    margin: 0px;
                    font-size: 11px;
                    color: white;
                }
                & > span {
                    font-size: 11px;
                    color: white;
                    margin: 0px 7px;
                }
                & > img {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    z-index: 1000;
                }
            }
            & > video {
                border-radius: 8px;
            }
            @media (max-width: Kit.$xl) {
                height: 184px;
            }
            @media (max-width: Kit.$sm) {
                height: 176px;
            }

        }
        & > input {
            display: none;
        }
        & > label > div {
            width: 100%;
            height: 222px;
            border-radius: 8px;
            padding: 31px 0px 37px;
            background-color: #f5f5f7;
            border: 1px solid #cdccd7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > img {
                width: 72px;
                height: 72px;
                margin-bottom: 30px;
            }
            & > p {
                margin: 0px 0px 16px;
                font-size: 13px;
                color: #0c0b31;
                & > span {
                    color: #3f53d9;
                }
            }
            & > p:last-child {
                margin-bottom: 0px;
            }
            @media (max-width: Kit.$xl) {
                height: 184px;
                padding: 30px 0px;
                & > img {
                    width: 59px;
                    height: 59px;
                    margin-bottom: 22px;
                }
                & > p {
                    margin: 0px 0px 11px;
                    font-size: 12px;
                    color: #0c0b31;
                    & > span {
                        color: #3f53d9;
                    }
                }
                & > p:last-child {
                    margin-bottom: 0px;
                }
            }
            @media (max-width: Kit.$sm) {
                height: 176px;
                padding: 24px 0px;
                & > p {
                    font-size: 13px;
                }
            }
        }
        & > .progressBarParent {
            width: 100%;
            height: 222px;
            border-radius: 8px;
            padding: 31px 40px 37px;
            background-color: #f5f5f7;
            border: 1px solid #cdccd7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > img {
                width: 72px;
                height: 72px;
                margin-bottom: 30px;
            }
            & > .progressBarDetails {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-right: 30px;
                & > p {
                    font-size: 13px;
                    color: rgba(12, 11, 49, 0.7);
                    margin: 0px;
                    max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            & > .progressBarBody {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                & > img {
                    width: 20px;
                    height: 20px;
                    margin-left: 13px;
                }
            }
        }
    }
    & > .uploadImgContainer {
        margin-top: 12px;
        & > input {
            display: none;
        }
        & > label > div {
            width: 100%;
            border-radius: 8px;
            height: 222px;
            padding: 31px 0px 37px;
            background-color: #f5f5f7;
            border: 1px solid #cdccd7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > img {
                width: 72px;
                height: 72px;
                margin-bottom: 30px;
            }
            & > p {
                margin: 0px 0px 16px;
                font-size: 13px;
                color: #0c0b31;
                & > span {
                    color: #3f53d9;
                }
            }
            & > p:last-child {
                margin-bottom: 0px;
            }
            @media (max-width: Kit.$xl) {
                height: 184px;
                padding: 30px 0px;
                & > img {
                    width: 59px;
                    height: 59px;
                    margin-bottom: 22px;
                }
                & > p {
                    margin: 0px 0px 11px;
                    font-size: 12px;
                    color: #0c0b31;
                    & > span {
                        color: #3f53d9;
                    }
                }
                & > p:last-child {
                    margin-bottom: 0px;
                }
            }
            @media (max-width: Kit.$sm) {
                height: 176px;
                padding: 24px 0px;
                & > p {
                    font-size: 13px;
                }
            }
        }
        & > .progressBarParent {
            width: 100%;
            height: 222px;
            border-radius: 8px;
            padding: 31px 40px 37px;
            background-color: #f5f5f7;
            border: 1px solid #cdccd7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > img {
                width: 72px;
                height: 72px;
                margin-bottom: 30px;
            }
            & > .progressBarDetails {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-right: 30px;
                & > p {
                    font-size: 13px;
                    color: rgba(12, 11, 49, 0.7);
                    margin: 0px;
                    max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            & > .progressBarBody {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                & > img {
                    width: 20px;
                    height: 20px;
                    margin-left: 13px;
                }
            }
        }
    }
    & > .imgToUploadContainer {
        width: 100%;
        position: relative;
        margin-top: 20px;
        & > div {
            position: absolute;
            top: 15px;
            right: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(25, 26, 37, 0.7);
            border-radius: 24px;
            padding: 5px 12px;
            & > p {
                margin: 0px;
                font-size: 11px;
                color: white;
            }
            & > span {
                font-size: 11px;
                color: white;
                margin: 0px 7px;
            }
            & > img {
                width: 16px;
                height: 16px;
                cursor: pointer;
                z-index: 1000;
            }
        }
        & > img {
            width: 100%;
            border-radius: 8px;
            display: block;
        }
    }
    .nameOfUploadContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        margin-top: 20px;
        & > span {
            font-size: 13px;
            font-family: Kit.$regularFont;
            @media (max-width: Kit.$xl) {
                font-size: 12px;
            }
            @media (max-width: Kit.$sm) {
                font-size: 13px;
            }
        }
        & > p {
            color: #ff6575;
            margin: 0px;
            font-size: 13px;
            font-family: Kit.$regularFont;
            @media (max-width: Kit.$xl) {
                font-size: 12px;
            }
            @media (max-width: Kit.$sm) {
                font-size: 13px;
            }
        }  
    }
}

.acceptRegistrationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 40px 30px;
    & > img {
        width: 127px;
        display: block;
        @media (max-width: Kit.$xl) {
            width: 107px;
        }
    }
    & > .teacherName {
        font-size: 13px;
        color: #0c0b31;
        margin: 20px 0px;
        @media (max-width: Kit.$xl) {
            font-size: 12px;
        }
        @media (max-width: Kit.$sm) {
            font-size: 13px;
        }
    }
    & > .acceptRegistrationDesc {
        font-size: 13px;
        color: #0c0b31;
        margin: 0px;
        text-align: center;
        @media (max-width: Kit.$xl) {
            font-size: 12px;
        }
        @media (max-width: Kit.$sm) {
            font-size: 13px;
        }
    }
    & > .lowsContainer {
        margin-top: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        & > p {
            font-size: 13px;
            margin: 0px 15px 0px 0px;
            color: #0c0b31;
            & > a {
                color: #3f53d9;
                cursor: pointer;
                text-decoration: none;
            }
            @media (max-width: Kit.$xl) {
                font-size: 12px;
            }
            @media (max-width: Kit.$sm) {
                font-size: 13px;
            }
        }
        @media (max-width: Kit.$xl) {
            margin-top: 90px;
        }
        @media (max-width: Kit.$sm) {
            margin-top: 140px;
        }
    }
}

.borderGray {
    border: 1px solid #cdccd7 !important;
}